@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/placeholders';
@import './utils/mixin';

@import './base/reset';
@import './base/body';
@import './base/section';
@import './base/container';
@import './base/thumb';
@import './base/icon';

@import './components/logo';
@import './components/button';
@import './components/section-title';
@import './components/social-list';
@import './components/modal-window';

@import './layout/header';
@import './layout/hero-section';
@import './layout/advantages-section';
@import './layout/our-works-section';
@import './layout/our-team-section';
@import './layout/our-cliens-section';
@import './layout/footer';
@import './layout/portfolio-page';
