.footer {
  background-color: $backgroundDarkColor;

  .container {
    padding-top: 60px;
    padding-bottom: 60px;

    @include for-size(tablet) {
      display: flex;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      justify-content: space-around;
    }

    @include for-size(desktop) {
      align-items: baseline;
    }
  }

  .footer__title {
    margin-bottom: 20px;

    font-weight: 500;
    @include font(14px, 1.143, 0.03em);
    text-transform: uppercase;

    color: $whiteColor;
  }
}

.address-box {
  @include for-size(before-desktop) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  @include for-size(desktop) {
    margin-right: 70px;
  }

  .address {
    margin-bottom: 8px;

    font-style: normal;
    @include font(14px, 1.71, 0.03em);

    color: $whiteColor;

    @include for-size(desktop) {
      margin-bottom: 9px;
    }
  }
}

.footer-contacts__item {
  @include for-size(before-desktop) {
    &:nth-child(1) {
      margin-bottom: 8px;
    }
  }

  @include for-size(desktop) {
    &:nth-child(1) {
      margin-bottom: 9px;
    }
  }
}

.footer-contacts__link {
  @include font(14px, 1.71, 0.03em);

  color: $whiteColorOpacity60;

  @extend %transition-color;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.social-box {
  @include for-size(before-desktop) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  .icon {
    fill: $whiteColor;
  }
}

.subscribe-box {
  @include for-size(before-desktop) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include for-size(desktop) {
    margin-left: auto;
  }
}

.subscribe-form {
  display: flex;

  @include for-size(before-desktop) {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.subscribe-form__input {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;

  color: $whiteColor;
  background-color: transparent;
  border: 1px solid $whiteColorOpacity30;
  border-radius: 4px;

  cursor: pointer;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
  }

  @include for-size(desktop) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}
