.footer {
  background-color: var(--background-dark-color);

  .container {
    padding-top: 60px;
    padding-bottom: 60px;

    @include for-size(tablet) {
      display: flex;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      justify-content: space-around;
    }

    @include for-size(desktop) {
      align-items: baseline;
    }
  }

  .footer__title {
    margin-bottom: 20px;

    font-weight: 500;
    @include font(14px, 1.143, 0.03em);
    text-transform: uppercase;

    color: $whiteColor;
  }
}

.address-box {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }

  .address {
    margin-bottom: 8px;

    font-style: normal;
    @include font(14px, 1.71, 0.03em);

    color: var(--white-color);

    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }
}

.footer-contacts__item {
  @media screen and (max-width: 1199px) {
    &:nth-child(1) {
      margin-bottom: 8px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:nth-child(1) {
      margin-bottom: 9px;
    }
  }
}

.footer-contacts__link {
  @include font(14px, 1.71, 0.03em);

  color: var(--white-color-opacity60);

  transition: color var(--time) var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.social-box {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  .icon {
    fill: var(--white-color);
  }
}

.subscribe-box {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.subscribe-form {
  display: flex;

  @media screen and (max-width: 1199px) {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.subscribe-form__input {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;

  color: var(--white-color);

  cursor: pointer;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}
