.header {
  border-bottom: 1px solid $borderHeaderColor;

  .container {
    @extend %flex-align;

    @include for-size(before-desktop) {
      justify-content: space-between;
    }
  }
}

.nav {
  @include for-size(before-tablet) {
    display: none;
  }
}

.nav__list {
  @extend %flex-align;
}

.nav__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 31px;

  font-weight: 500;
  @include font(14px, 1.143, 0.02em);

  color: $headingTextColor;

  @extend %transition-color;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.nav__link--current {
  color: $accentColor;

  &::after {
    position: absolute;
    left: 0;
    bottom: -1px;

    border-radius: 2px;
    width: 100%;
    height: 4px;

    content: '';
    background-color: $accentColor;
  }
}

.header-contacts {
  @include for-size(before-tablet) {
    display: none;
  }

  @include for-size(desktop) {
    display: flex;
    margin-left: auto;
  }
}

.header-contacts__item {
  @include for-size(before-desktop) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @include for-size(desktop) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.header-contacts__link {
  @extend %flex-align;

  font-weight: 500;
  @include font(12px, 1.167, 0.02em);

  @extend %transition-color;

  &:hover,
  &:focus {
    color: $accentColor;
  }

  @include for-size(desktop) {
    padding-top: 32px;
    padding-bottom: 31px;

    font-size: 14px;
    line-height: 1.143;
  }
}

.header-contacts__icon {
  @include for-size(before-tablet) {
    margin-right: 8px;
  }

  @include for-size(tablet) {
    margin-right: 10px;
  }
}
