.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      var(--background-gradient-color),
      var(--background-gradient-color)
    ),
    url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1600px;
}

.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  @include font(44px, 1.364, 0.06em);
  text-align: center;
  text-transform: uppercase;

  color: var(--white-color);
}
