.our-clients-list {
  display: flex;
  flex-wrap: wrap;
}

.our-clients-list__item {
  height: 92px;

  @include for-size(before-tablet) {
    width: calc((100% - 30px) / 2);
    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }

  @include for-size(tablet) {
    width: calc((100% - 2 * 30px) / 3);
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }

  @include for-size(desktop) {
    width: calc((100% - 5 * 30px) / 6);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.our-clients-list__link {
  @extend %flex-align-justify;
  width: 100%;
  height: 100%;

  color: $iconColor;

  border: 1px solid $iconColor;
  border-radius: 4px;

  @extend %transition-backgroundColor-color;

  &:hover,
  &:focus {
    border-color: $accentColor;
    color: $accentColor;
  }
}
