.our-works-list {
  display: flex;
}

.our-works-list__item {
  flex-basis: calc((100% - 60px) / 3);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.our-works-list__description {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  @include font(14px, 1.143, 0.03em);
  text-align: center;
  text-transform: uppercase;

  background-color: var(--background-our-works-overlay);
  color: var(--white-color);
}
