.portfolio-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-buttons__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio-list__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list__link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  transition: box-shadow var(--time) var(--cubic);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    cursor: pointer;
  }
}

.portfolio-list-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  @include font(18px, 1.555, 0.03em);

  color: var(--white-color);
  background-color: var(--accent-color-opacity90);

  transition: transform var(--time) var(--cubic);

  .portfolio-list__link:hover &,
  .portfolio-list__link:focus & {
    transform: translateY(0);
  }
}

.portfolio-list__content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;

  background-color: var(--white-color);
}

.portfolio-list__title {
  margin-bottom: 4px;

  font-weight: 700;
  @include font(18px, 2, 0.06em);

  color: var(--heading-text-color);
}

.portfolio-list__description {
  @include font(16px, 1.875, 0.03em);
}
