.button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  @include font(16px, 1.875, 0.06em);

  color: $whiteColor;
  background-color: $accentColor;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  @extend %transition-backgroundColor;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $accentButtonHoverColor;
  }
}

.hero__button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
}

.subscribe-form__button {
  @extend %flex-align;
  padding: 10px 28px;

  .icon {
    margin-left: 10px;
  }
}

.modal-form__button {
  align-self: center;
  margin-top: 30px;
  padding: 10px 55px;
}

.portfolio-buttons__button {
  padding: 6px 22px;

  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;

  color: $headingTextColor;
  background-color: $backgroundLightColor;
  box-shadow: none;

  @extend %transition-backgroundColor-color-boxShadow;

  &:hover,
  &:focus,
  &--first {
    color: $whiteColor;
    background-color: $accentColor;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
