%flex-align {
  display: flex;
  align-items: center;
}

%flex-align-justify {
  display: flex;
  align-items: center;
  justify-content: center;
}

%transition-transform {
  transition: transform $transitionDuration $transitionTimingFunction;
}

%transition-background {
  transition: background-color $transitionDuration $transitionTimingFunction;
}

%transition-color {
  transition: color $transitionDuration $transitionTimingFunction;
}

%transition-box-shadow {
  transition: box-shadow $transitionDuration $transitionTimingFunction;
}

%transition-opacity {
  transition: opacity $transitionDuration $transitionTimingFunction;
}

%transition-visibility {
  transition: visibility $transitionDuration $transitionTimingFunction;
}

%transition-opacity-visibility {
  transition: opacity $transitionDuration $transitionTimingFunction,
    visibility $transitionDuration $transitionTimingFunction;
}

%transition-fill {
  transition: fill $transitionDuration $transitionTimingFunction;
}

%transition-border-color {
  transition: border-color $transitionDuration $transitionTimingFunction;
}
