// text colors
$primaryTextColor: #757575;
$headingTextColor: #212121;

// accent colors
$accentColor: #2196f3;
$accentColorOpacity90: rgba(33, 150, 243, 0.9);
$accentButtonHoverColor: #188ce8;

// black color
$blackColor: #000000;
$blackColorOpacity10: rgba(0, 0, 0, 0.1);
$blackColorOpacity15: rgba(0, 0, 0, 0.15);

// white color
$whiteColor: #ffffff;
$whiteColorOpacity10: rgba(255, 255, 255, 0.1);
$whiteColorOpacity30: rgba(255, 255, 255, 0.3);
$whiteColorOpacity60: rgba(255, 255, 255, 0.6);

// background colors
$backgroundLightColor: #f5f4fa;
$backgroundDarkColor: #2f303a;
$backgroundGradientColor: rgba(47, 48, 58, 0.4);
$backgroundOurWorkSectionColor: rgba(47, 48, 58, 0.8);
$backgroundHeroSectionColor: #c4c4c4;

// additional colors
$iconColor: #afb1b8;
$borderHeaderColor: #ececec;

// modal window additional colors
$backdropColor: rgba(0, 0, 0, 0.2);
$modalInputBorder: rgba(33, 33, 33, 0.2);
$modalTextareaPlaceholder: rgba(117, 117, 117, 0.5);

// transition properties
$transitionDuration: 250ms;
$transitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
