:root {
  --heading-text-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --accent-color-opacity90: rgba(33, 150, 243, 0.9);
  --hero-button-hover-color: #188ce8;
  --black-color: #000000;
  --white-color: #ffffff;
  --white-color-opacity60: rgba(255, 255, 255, 0.6);
  --white-color-opacity10: rgba(255, 255, 255, 0.1);
  --background-dark-color: #2f303a;
  --background-light-color: #f5f4fa;
  --background-hero-color: #c4c4c4;
  --background-gradient-color: rgba(47, 48, 58, 0.4);
  --background-our-works-overlay: rgba(47, 48, 58, 0.8);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --border-header-color: #ececec;
  --icon-color: #afb1b8;
  --modal-icon-border-color: rgba(0, 0, 0, 0.1);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
  --modal-input-border-color: rgba(33, 33, 33, 0.2);
}