$primaryTextColor: #757575;
$headingTextColor: #212121;
$accentColor: #2196f3;
$accentColorOpacity90: rgba(33, 150, 243, 0.9);
$accentButtonHoverColor: #188ce8;
$blackColor: #000000;
$whiteColor: #ffffff;
$boxShadowColor: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
$buttonBoxShadowColor: 0px 4px 4px rgba(0, 0, 0, 0.15);
$backgroundLightColor: #f5f4fa;
$backdropColor: rgba(0, 0, 0, 0.2);

$mobileMenuBorder: 1px solid rgba(33, 33, 33, 0.2);

$modalWindowBoxShadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$modalButtonBorder: 1px solid rgba(0, 0, 0, 0.1);
$modalInputBorder: 1px solid rgba(33, 33, 33, 0.2);
$modalTextareaPlaceholder: rgba(117, 117, 117, 0.5);
$modalCheckboxBorder: 2px solid $headingTextColor;
$modalCheckboxOutline: 1px solid $accentColor;

$transitionDuration: 250ms;
$transitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);

:root {
  --heading-text-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --accent-color-opacity90: rgba(33, 150, 243, 0.9);
  --hero-button-hover-color: #188ce8;
  --black-color: #000000;
  --white-color: #ffffff;
  --white-color-opacity60: rgba(255, 255, 255, 0.6);
  --white-color-opacity10: rgba(255, 255, 255, 0.1);
  --background-dark-color: #2f303a;
  --background-light-color: #f5f4fa;
  --background-hero-color: #c4c4c4;
  --background-gradient-color: rgba(47, 48, 58, 0.4);
  --background-our-works-overlay: rgba(47, 48, 58, 0.8);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --button-shadow-color: rgba(0, 0, 0, 0.15);
  --border-header-color: #ececec;
  --icon-color: #afb1b8;
  --modal-icon-border-color: rgba(0, 0, 0, 0.1);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
  --modal-input-border-color: rgba(33, 33, 33, 0.2);
}
